.Donate {
    height: 500px;
    transform: scale(1);
    display: block;
    width: 40%;
    max-width: 700px;
    margin: 20vh auto;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(40, 50, 76, 0.3);
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.200);
}

@media screen and (max-device-width: 800px) {
    .Donate {
        width: 80%;
    }
}

.iframe {
    padding: 15px 0 15px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    width: fit-content;
}


.radioButton {
    display: table;
    vertical-align: middle;
    height: 40px;
    position: relative;
}

.field {
    display: block;
    width: auto;
    margin: 30px;
}

.field input {
    width: fit-content;
}

.mainBlock {
    margin: auto;
}

.avatarWrapper {
    margin: auto;
}

.avatar {
    margin: auto;
    display: block;
    border-radius: 160px;
    width: 30%;
    max-width: 100px;
    min-width: 10px;
}

.back {
    width: fit-content;
    padding: 0 2px 0 2px;
    margin: 10px 0 20px;
}

.back i {
    font-size: 1.2rem;
    padding: 0px 0px 4px;
}

.arrow1 {
    float: left;
    transform: rotate(-45deg);
    width: 11px;
    height: 11px;
    border-radius: 2px;
    border-bottom: 1.5px solid;
    border-right: 1.5px solid;
    margin: 7px;
}

.arrow3 {
    margin-left: 5px;
}
