.Donate {
    height: auto;
    transform: scale(1);
    display: block;
    width: 50%;
    max-width: 700px;
    margin: 20vh auto;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(40, 50, 76, 0.3);
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.200);
}

@media screen and (max-device-width: 800px) {
    .Donate {
        width: 80%;
        margin: 12vh auto;
    }
    .cryptowallet {
        width: 33vw !important;
    }
}

@media screen and (max-device-width: 350px) {
    .Donate {
        width: 80%;
        margin: 1vh auto;
    }
    .cryptowallet {
        width: 33vw !important;
    }
}

.iframe {
    padding: 15px 0 15px;
}

form {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; */
    margin: auto;
    /* width: fit-content; */
}

.frotmControlWrapper {
    width: 250px;
    margin: auto;
}

.radioButton {
    vertical-align: middle;
    height: 50px;
    position: relative;
}

.field {
    display: block;
    width: auto;
    margin: 30px;
}

.field input {
    width: fit-content;
}

.mainBlock {
    margin: auto;
}

.avatarWrapper {
    margin: auto;
    margin-bottom: 10px;
    user-select: none;
}

.avatar {
    margin: auto;
    display: block;
    border-radius: 160px;
    width: 30%;
    max-width: 100px;
    min-width: 10px;
}

.back {
    width: fit-content;
    padding: 0 2px 0 2px;
    margin: 10px 0 20px;
}

.back i {
    font-size: 1.2rem;
    padding: 0px 0px 4px;
}

.back2 {
    float: left;
    top: 0px;
    left: 0px;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.03);
    width: 30px;
    height: 100%;
}

.arrow1 {
    float: left;
    transform: rotate(-45deg);
    width: 11px;
    height: 11px;
    border-radius: 2px;
    border-bottom: 1.5px solid;
    border-right: 1.5px solid;
    margin: 7px;
}

.arrow2 {
    transform: rotate(135deg);
    width: 11px;
    height: 11px;
    border-radius: 2px;
    border-bottom: 1.5px solid #ccc;
    border-right: 1.5px solid #ccc;
    margin: 275px 10px;
}

.arrow3 {
    margin-left: 5px;
    white-space: pre-line;
    text-overflow: ellipsis;
}

.disabledWallet {
    width: 40px;
    filter: grayscale(100%);
}

.enabledWallet {
    width: 40px;
}

.wallet {
    display: flex;
    flex-direction: row !important;
}

.wallet :nth-child(even) {
    margin: 0px;
}

.FormControlLabel {
    margin: 5px;
}

.FormControl {
    display: block;
    width: 100%;
    margin: 10px;
}

.Donate::-webkit-scrollbar {
    padding-bottom: 100px;
    margin-bottom: 100px;
    overflow-x: auto;
}

.Cryptography {
    overflow: hidden;
    width: 60%;
    margin: 20px auto 5px auto;
    user-select: none;
    /* // padding: 3px; */
    align-items: center;
    border-radius: 3px;
}

.cryptowallet {
    text-align: left;
    display: inline-block;
    font-family: Monospace;
    font-size: 16px;
    overflow: hidden;
    width: 24vw;
    max-width: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: all;
    margin: 5px 0 5px 10px;
    padding: 3px;
    border-radius: 3px;
    background-color: #00000030
}


.cryptowalletWrapper div {
    vertical-align: middle;
    display: inline-block;
}
.cryptowalletWrapper div:nth-child(2n-1) {
    width: 32px;
}
