.Donate {
    height: 500px;
    transform: scale(1);
    display: block;
    width: 40%;
    max-width: 700px;
    margin: 20vh auto;
    padding: 15px;
    border-radius: 5px;
    /* border: 1px solid rgba(58, 58, 58, 0.6); */
    background-color: rgba(40, 50, 76, 0.3);
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    text-align: center;
    box-shadow: 10 10px 10 rgb(243, 0, 0);
    color: #fff
}

@media screen and (max-device-width: 414px) {
    .Donate {
        width: 85%;
    }
}

.iframe {
    padding: 15px 0 15px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    /* align-content: center; */
    margin: auto;
    width: fit-content;
}

form div {
    margin: 8px;
}

.radioButton {
    vertical-align: middle;
    height: 40px;
    position: relative;
}

.field {
    display: block;
    width: auto;
    margin: 30px;
}

.field input {
    color: #fff;
    width: fit-content;
}

/* .field span {
    width: 30px;
} */

.mainBlock {
    margin: auto;
}

.avatarWrapper {
    margin: auto;
}

.avatar {
    margin: auto;
    display: block;
    border-radius: 160px;
    width: 30%;
    max-width: 100px;
    min-width: 10px;
}
