.Main {
    transform: scale(1);
    display: block;
    width: 50%;
    max-width: 700px;
    margin: 20vh auto;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(40, 50, 76, 0.3);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.200);
    text-align: center;
}

@media screen and (max-device-width: 920px) {
    .Main {
        width: 80%;
        margin: 15vh auto;
    }
}

.mainBlock {
    margin: auto;
}

.avatarWrapper {
    margin: auto;
    user-select: none;
}

.avatar {
    margin: auto;
    display: block;
    border-radius: 160px;
    width: 30%;
    max-width: 100px;
    min-width: 10px;
}

.textWrapper {
    margin: 10px;
}

.buttonsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: fit-content;
    padding: 5px;
    font-size: 30px;
}

.icon i {
    display: block;
    padding: 5px;
    margin: 0px;
    transition: ease-in-out 0.2s;
}

.icon i:hover {
    transform: scale(1.1);
    outline: none;
    text-decoration: none;
}

.donateWrapper {
    user-select: none;
    margin: 15px auto -10px;
    width: fit-content;
    padding: 4px 10px 8px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.07);
}

.donateWrapper i {
    font-size: 25px;
}

.donateWrapper a {
    font-size: 20px;
    font-weight: lighter;
    vertical-align: middle;
}

.projectsWrapper {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 10px auto 0px;
    user-select: none;
}

.myProjectsTitle {
    font-size: 0.7em;
    color: #ccc;
}

.project {
    margin: 10px 10px 0px 10px;
}

.projectIcon img {
    width: 30px;
    border-radius: 10px;
}
