.Bell {
    height: 90vh;
    transform: scale(1);
    display: block;
    width: 80%;
    max-width: 1400px;
    margin: 5vh auto;
    padding: 0px 0;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-align: justify;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding-bottom: 15px;
}

@media screen and (max-device-width: 800px) {
    .Bell {
        height: 100%;
        min-height: 700px;
        width: 100%;
        margin: 0px auto;
    }

    .blog {
        margin-right: 10px;
        margin-left: 30px;
        width: 90%;
        height: 100%;
        min-height: 700px;
        font-weight: 300;
        font-size: 1rem;
        /* overflow: hidden ; */
    }
}

.blog {
    width: 90%;
    height: 80vh;
    overflow: -moz-hidden-unscrollable;
    color: #000;
    margin-right: 10px;
    margin-left: 32px;
    font-weight: 300;
    font-size: 1rem;
    padding-bottom: 80px;
}

.mainBlock {
    margin: auto;
}

/* .mainWrapper {
    overflow: hidden;
} */

.avatarWrapper {
    margin-top: 12px;
    margin: auto;
    user-select: none;
}

.avatar {
    margin: auto;
    display: block;
    border-radius: 160px;
    width: 30%;
    max-width: 100px;
    min-width: 10px;
}

.backWrapper {
    z-index: 100;
    position: sticky;
    float: left;
    width: 0px;
    height: 100vh;
    top: 0px;
    left: 0px;
    margin-top: -100px;
}

.back2 {
    float: left;
    top: 0px;
    left: 0px;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 100%;
}

.arrow2 {
    transform: rotate(-45deg);
    width: 11px;
    height: 11px;
    border-radius: 2px;
    border-bottom: 1.5px solid #ccc;
    border-right: 1.5px solid #ccc;
    margin: 50vh 7px;
}
